body{
  margin-top: 5em
}
.choices_container
{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 3px solid rgb(248, 250, 135);
    background: lightyellow;
}
.choices_container:hover
{
    box-shadow: 0 0.4rem 1.4rem 0 rgb(182, 185, 149);
    cursor: pointer;
    transform: translate(-0.1rem);
    transition: transform 150ms;
}
.choice_prefix
{
  padding: 1.5rem 2.5rem;
  background-color: #ebe956;
  color: rgb(0, 0, 0);
}
.choice_text
{
  padding: 1.5rem;
  width: 100%;
}
.correct 
{
  background-color: #28a745;
}
  
.incorrect 
{
  background-color: #dc3545;
}  
.hud 
{
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.hud-prefix 
{
  text-align: center;
  font-size: 2rem;
}

.hud-main-text 
{
  text-align: center;
}
.progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #d0eb56;
  margin-top: 1.5rem;
}

.progressBarFull {
  height: 3.4rem;
  background-color: #ebe956;
  width: 0%;
}
.loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #dceb56;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}